div{
    font-family: 'Andada Pro', serif;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-size: xxx-large;
}

/*colors*/
body {
    background-color: #ffd9d9
}

h3{
    color:hsl(118, 0%, 32%);
}

#owo{
    color: salmon;
}

.span1{
    color: rgba(255, 77, 71, 0.5);
}

#span_1{
    text-decoration: underline;
}

#h1_1{
    text-align: center;
    margin:auto;
}

a{
    color:palevioletred;
}
a:hover{
    color: white;
}

a:active{
    color:powderblue;
}

#div1{
    position: relative;
    margin-top: 3vh;
    margin-left: 10vh;
    margin-right: 2em;
    margin-bottom: 50px;
    padding-top: 1pt;
    padding-bottom: 1cm;
    padding-left: 30px;
    padding-right: 1px;
    border-style:dotted;
    border-color:white;
    border-width: 10px;
    border-radius: 10px;
    display: block;
}

#div2{
    margin: 10px 10px 10px 20px;
    padding: 10px 10px 10px 20px;
    display:inline-block;
}

audio{ 
    position:static;
    height: 12px;
    width: 1000px;
}

hr{
    min-width: 50%
}

img{
    max-width: 400px;
}
/* footer */
#div3{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
